
footer{
    bottom: 0;
    left: 0;
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--dark);
    color: rgb(0, 0, 0);
    background-color: #5d7575;
    position: relative;
    z-index: 9998;
}

.copyright-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #FFF;
}

.copyright{
    font-size: 12px;
    opacity: 0.7;
    font-weight: 400;
    padding: 10px 0;
    color: #FFF;
}

.menu-item-footer:hover{
    opacity: 1;
}

.social-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 100%;
}

.social-link{
    height: 100%;
    width: 30px;
    background-image: url(../logofooter/FacebookBlanco.png);
    background-size: 70%;
    background-position: center;
    margin-right: 1rem;
    background-repeat: no-repeat;
}

.social-link:hover{
    opacity: 0.7;
}

footer .social-link:nth-of-type(2){
    background-image: url(../logofooter/TwitterBlanco.png);
}

footer .social-link:nth-of-type(3){
    background-image: url(../logofooter/LinkedinBlanco.png);
}

footer .social-link:nth-of-type(4){
    background-image: url(../logofooter/InstagramBlanco.png);
    width: 40px;
}


/*MEDIA QUERY*/
@media (max-width: 768px){
    
    .footer-container{
        padding: 2rem;
        flex-direction: column;
    }

    .footer-content-container{
        width: 100%;
        border-bottom: 1px solid #2A2A2A;
        justify-content: center;
        align-items: center;
    }

    .footer-content-container:nth-of-type(1){
        align-items: flex-start;
    }
    .footer-content-container:nth-of-type(3){
        border-bottom: none;
        padding-bottom: 0;
    }
    .footer-menus .footer-content-container:nth-of-type(1){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
    .footer-menus .footer-content-container:nth-of-type(2){
        width: 45%;
        align-items: flex-start;
        border-bottom: none;
    }
}
