.our-clients {
    height: auto;
    text-align: center;
}

h2{
    font-size: 40px;
    text-align: center;
    color: azure;
}

.our-clients ul {
    padding: 0;
    margin: 0;
}

.our-clients ul li {
    display: inline-block;
    width:180px;
    height:100px;
    overflow: hidden;
    margin: 20px;
    box-shadow: 0px 0px 10px -7px #555;
    z-index: 9995;
    position: relative; 
}

.our-clients ul li img {
    width: 100%;
    height: 100%;
}

.our-clients ul li:hover img:nth-child(1) {
    transform: translateY(100%);
    transition: opacity 0.5s;
}

.our-clients ul li:hover img:nth-child(2) {
    transform: translateY(-100%);
    transition: opacity 0.5s;
}
