
.scrollTop {
    position: fixed;
    bottom: 70px;
    right: 5px;
    padding: 10px 15px;
    background-color: rgb(255, 47, 0);
    color: #ffffff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease 0s;
    z-index: 9999;
    opacity: 0; 
    pointer-events: none; 
}

.scrollTop.show {
    opacity: 1; 
    pointer-events: auto; 
}

.scrollTop:hover {
    background-color: bisque;
    color: #fff;
}
